@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBrightBlue: 220, 98%, 61%;
  --checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.light {
  --veryLightGray: 0, 0%, 98%;
  --veryLightGrayishBlue: 236, 33%, 92%;
  --lightGrayishBlue: 233, 11%, 84%;
  --darkGrayishBlue: 236, 9%, 61%;
  --veryDarkGrayishBlue: 235, 19%, 35%;
}

.dark {
  --veryDarkBlue: 235, 21%, 11%;
  --veryDesaturatedBlue: 235, 24%, 19%;
  --lightGrayishBlueHover: 236, 33%, 92%;
  --darkGrayishBlue: 234, 11%, 52%;
  --veryDarkGrayishBlue: 233, 14%, 35%;
}
